#.................................................................................................................
#  TESTING   TESTING   TESTING   TESTING   TESTING   TESTING   TESTING   TESTING   TESTING   TESTING   TESTING
#.................................................................................................................
#
# EASY_ADXL
#   Performs G32, Heatsoak, G32, SHAPER_CALIBRATE, and lastly SAVE_CONFIG
#
# Shutdown rPi and power off printer. Connect Arduino to rPi via USB cable, attach ADXL345 to toolhead. 
# Power-on printer, set [mcy ardu] serial to match your arduino device, and restart printer. 
#.................................................................................................................
# Required variable(s) to be set. Add the following to your global variable dictionary block as:
#
#[gcode_macro globalvariables]
#variable_defaultWarmNozzle: 160        # The default Nozzle Warming temperature if none is specified
#variable_defaultEnclosure: 40          # The default Enclosure temperature if none is specified
#variable_defaultTempBed: 110           # The default Bed temperature if none is specified
#variable_ADXLsoakMinutes: 30           # Minutes to heat-soak prior to ADXL measurements
#gcode:
#.................................................................................................................
# Required external macro(s) used by this macro set.
#
# _HEAT_WAIT
# G32 (in MACRO-EUCLID.cfg)
# CONFIG-NO_ENCLOSURE_CONTROL.cfg / CONFIG-ENCLOSURE_CONTROL.cfg for M141 command
# CURRENT_HIGH
# PARK_UpperRight
#.................................................................................................................

[gcode_macro EASY_ADXL]
description: Performs ADXL measurements, the lazy way
gcode:
    CLEAR_PAUSE
    BED_MESH_CLEAR
    M220 S100
    M221 S100
    SET_LED LED=nozzle RED=.2 GREEN=.2 BLUE=1
    {% set X_MID = printer.configfile.config["stepper_x"]["position_max"]|float / 2.0 %}
    {% set Y_MID = printer.configfile.config["stepper_y"]["position_max"]|float / 2.0 %}
    {% set defaultWN = printer["gcode_macro globalvariables"].defaultwarmnozzle|float %}
    {% set defaultADXLSOAK = printer["gcode_macro globalvariables"].adxlsoakminutes|float %}
    {% set defaultENCLOSURE = printer["gcode_macro globalvariables"].defaultenclosure|float %}
    {% set defaultTB = printer["gcode_macro globalvariables"].defaulttempbed|float %}
    # Bring bed to full temperature, only warm hotend
    M140 S{defaultTB}
    M104 S{defaultWN}
    M141 S{defaultENCLOSURE}
    G90
    G21
    M83
    G92 E0.0
    # Reset the G-Code Z offset
    SET_GCODE_OFFSET Z=0.0
    M117 Performing initial homing.
    G32
    PARK_Center
    M117 Bringing bed to temperature.
    SET_LED LED=nozzle INDEX=2 RED=1 GREEN=0 BLUE=0
    SET_LED LED=nozzle INDEX=1 RED=.5 GREEN=.5 BLUE=.5
    M190 S{BED_TEMP}
    _HEAT_WAIT MINUTES={defaultADXLSOAK}
    SET_LED LED=nozzle RED=.5 GREEN=0 BLUE=.5
    M117 Performing hot level.
    CURRENT_HIGH
    G32
    SET_LED LED=nozzle RED=1 GREEN=0 BLUE=1
    SHAPER_CALIBRATE
    PARK_UpperRight
    SAVE_CONFIG
