#-------------------------------------------------- MAIN MCU ----------------------------------------------------
[mcu]
# Obtain definition by "ls -l /dev/serial/by-id/" then unplug to verify
serial: /dev/serial/by-id/usb-Klipper_stm32f446xx_160022001950534146373920-if00
restart_method: command

[exclude_object]
# Allows Klipper to exclude objects while a print is in progress

#-------------------------------------------- LOAD ALL ACTIVE CFGs ----------------------------------------------
# Loads all configuration files from the [ACTIVE] directory.
[include ACTIVE/*.cfg]

[probe]
#---------------------------------------------------- Z-OFFSET --------------------------------------------------- 
z_offset: 8.60                         # Z-Offset / First Layer (larger number = closer to bed surface), last was 8.52

[extruder]
#---------------------------------------------------- EXTRUDER --------------------------------------------------- 
nozzle_diameter: 0.4                   # Nozzle Diameter
pressure_advance: 0.055                # Pressure Advance
pressure_advance_smooth_time: 0.030    # Pressure Advance Smooth-Time

[firmware_retraction]
retract_length: 0.5                    # The length of filament (in mm) to retract (G10) / unretract (G11)
retract_speed: 30                      # The speed of retraction, in mm/s. The default is 20 mm/s
unretract_extra_length: 0              # The length (in mm) of *additional* filament to add when unretracting
unretract_speed: 30                    # The speed of unretraction, in mm/s. The default is 10 mm/s

[gcode_macro globalvariables]
#----------------------------------------------- PRINT ACCEL LIMITS ---------------------------------------------- 
variable_LimitAccel: 3501              # ACCEL velocity limit
variable_LimitDecel: 1751              # DECEL velocity limit

#---------------------------------------------- DEFAULT TEMPERATURES --------------------------------------------- 
variable_defaultTempNozzle: 235        # NOZZLE EXTRUDING temperature if none is specified
variable_defaultReadyNozzle: 210       # NOZZLE READY temperature if none is specified
variable_defaultWarmNozzle: 160        # NOZZLE WARMING temperature if none is specified
variable_defaultTempBed: 110           # BED temperature if none is specified
variable_defaultEnclosure: 40          # ENCLOSURE temperature if none is specified
                                  
#--------------------------------------------- HEATSOAK & COOLING ------------------------------------------------
variable_HotmeshSoakMinutes: 20        # Minutes to heat-soak prior to running mesh
variable_PrePrintSoakMinutes: 15       # Minutes to heat-soak prior to printing
variable_QGLbeforeSoakMesh: True       # (True/False) Perfrom QGL before applying heat soak for HOTMESH 
variable_PostPrintCool: 1              # Post-Print cooling to prevent nozzle string, minutes of cooling
variable_PostPrintParkCool: 2          # Once parks, minutes of cooling

#---------------------------------------------- OTHER RETRACTIONS ------------------------------------------------ 
variable_purgeRetract: 0.1             # After completing purgeline, how much retraction to perform (Not normally needed)
variable_EndRetract: 2.0               # After print has completed, how much retraction to perform


#-------------------------------------------- NON-PRINT ACCEL LIMITS ---------------------------------------------
variable_NPLimitAccel: 3500            # Accel velocity limit
variable_NPLimitDecel: 1750            # Decel velocity limit

#------------------------------------------- PRINTING MOTOR CURRENTS --------------------------------------------- 
variable_PrintCurrentXY: 1.1           # Steppermotor current to be used while printing
variable_PrintCurrentZ: 0.8            # Steppermotor current to be used while printing

#--------------------------------------------------- PARKING ------------------------------------------------------
variable_ParkHeightPercentage: 0.50    # The percentage of Z height to park the nozzle, expressed as 0.2 to 1.0
                                       # If the printed object is taller then the expressed Z-axis percent height,
                                       # the toolhead will then park 10mm above the object.  

#------------------------------------------------ EUCLID PROBE --------------------------------------------------- 
variable_EuclidX: 0                    # X Position directly over probe
variable_EuclidY: 355                  # Y Position directly over probe
variable_EuclidSwipeX: 50              # X Position, swipe to the side to free probe of dock
variable_EuclidClearY : 325            # Y Position, clear dock
variable_ZprobeSpeed: 5.0              # [Z-Probe before print] Probing speed for Z Measurements
variable_ZprobeSamples: 7              # [Z-Probe before print] Samples probed per position, yeilding as calculated median
variable_ZprobeTolerance: 0.050        # [Z-Probe before print] Sample Tolerance per Z Point
variable_ZprobeRetract: 1.5            # [Z-Probe before print] Retract from each probing for a D2F-5 1.2 should be good      

#------------------------------------------------ ADXL HeatSoak ---------------------------------------------------
variable_ADXLsoakMinutes: 30           # Minutes to heat-soak prior to ADXL measurements
gcode:
    M117 Happy Printing!




#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [input_shaper]
#*# shaper_type_x = 3hump_ei
#*# shaper_freq_x = 83.8
#*# shaper_type_y = mzv
#*# shaper_freq_y = 37.2
#*#
