#.................................................................................................................
# M141 - S=50 / Usage: M141, M141 S=50
#   This is a 'dummy' command for when enclosure control is not employed.
#   Set enclosure temperature


#.................................................................................................................
[gcode_macro M141]
description: Enclosure control macro - dummy command
gcode:
    {% set defaultENCLOSURE = printer["gcode_macro globalvariables"].defaultenclosure|float %}   ; Set default enclosure temperature
    {% set S = params.S|default(defaultENCLOSURE)|float %}                                       ; Set S to the value of S or default if not specified
    M118 Waiting for Enclosure to reach {S}c *IGNORED*.                                          ; Display the temperature set
    M118 M141 S={S} Called - Enclosure not configured, command ignored.                          ; Display the passed temperature value
    M118 Enclosure set to {S}c. *IGNORED*                                                        ; Display the temperature set