#.................................................................................................................
[gcode_macro SET_PA]
description: Sets Pressure Advance
gcode:
    #Put the following in SS filament start gcode
    #SET_PA PA=0.045 ST=0.020
    SET_PRESSURE_ADVANCE ADVANCE={params.PA|default(printer.configfile.config['extruder']['pressure_advance']|float)} SMOOTH_TIME={params.ST|default(printer.configfile.config['extruder']['pressure_advance_smooth_time']|float)}


#.................................................................................................................
[gcode_macro M600]
description: Call to pause
gcode:
    SAVE_GCODE_STATE NAME=M600_state                      ; Save current state
    RESPOND TYPE=error MSG="ALERT: M600 Called!"          ; Respond with error
    SET_IDLE_TIMEOUT TIMEOUT=6000                         ; Extend timeout while waiting for swap
    PAUSE_BASE                                            ; Pause print
    {% set X_MID = printer.configfile.config["stepper_x"]["position_max"]|float / 2.0 %}  ; Get X midpoint
    {% set Y_MID = printer.configfile.config["stepper_y"]["position_max"]|float / 2.0 %}  ; Get Y midpoint
    G91                                                   ; Relative positioning
    G1 E-5 F4000                                          ; Retract 5mm
    G1 Z+10                                               ; Raise Z by 10mm
    G90                                                   ; Return to Absolute positioning
    G1 X{X_MID} Y{Y_MID} F3000                            ; Move toolhead to center position
    G92 E0                                                ; Reset the extruder position to 0

[gcode_macro SWAP_RESUME] 
gcode:
    RESTORE_GCODE_STATE NAME=M600_state                   ; Restore saved state from M600
    RESUME                                                ; Resume print
    SET_IDLE_TIMEOUT TIMEOUT=600                          ; Return timeout to normal

#.................................................................................................................	
[gcode_macro FORCE_UP]
gcode:
    {% if printer.idle_timeout.state == "Printing" or printer.pause_resume.is_paused %} ; Check if printing or paused
        {action_respond_info("Cannot do that while printing")}                          ; If so, respond with error
      {% else %}                                                                        ; If not printing or paused, continue
        {% set MM = params.MM|default(10)|float %}         ; Default to 10mm if no parameter is passed
        {% if printer.toolhead.homed_axes == "xyz" %}      ; If homed, just raise
            G91                                            ; Relative positioning
            G1 Z{MM} F1200                                 ; Raise by MM
            G90                                            ; Absolute positioning
          {% else %}                                       ; If not homed, force raise
            SET_KINEMATIC_POSITION Z=0                     ; Hard reset Z position to 0
            G0 Z{MM} F3600                                 ; Raise by MM
            M18 Z                                          ; Ensure status is un-homed
        {% endif %}                                        ; End homed check	
    {% endif %}                                            ; End printing check
	


#.................................................................................................................	
[gcode_macro FORCE_DOWN]
gcode:
    {% if printer.idle_timeout.state == "Printing" or printer.pause_resume.is_paused %} ; Check if printing or paused
        {action_respond_info("Cannot do that while printing")}                          ; If so, respond with error
      {% else %}                                                                        ; If not printing or paused, continue
        {% set MM = params.MM|default(10)|float %}         ; Default to 10mm if no parameter is passed
        {% if printer.toolhead.homed_axes == "xyz" %}      ; If homed, just lower
            G91                                            ; Relative positioning
            G1 Z-{MM} F1200                                ; Lower by MM
            G90                                            ; Absolute positioning
          {% else %}                                       ; If not homed, force lower
            SET_KINEMATIC_POSITION Z=0                     ; Hard reset Z position to 0
            G0 Z-{MM} F3600                                ; Lower by MM
            M18 Z                                          ; Ensure status is un-homed
        {% endif %}                                        ; End homed check	
    {% endif %}                                            ; End printing check
