#.................................................................................................................
# PRERUN - No Optional parameters / Usage: None
#   This macro runs upon klipper startup / restart.
#.................................................................................................................
# Required variable(s) to be set. Add the following to your global variable dictionary block as:
#
#[gcode_macro globalvariables]
#variable_PressureAdvance: 0.055        # Pressure Advance
#variable_PressureAdvanceST: 0.030      # Pressure Advance Smooth Time
#variable_RetractLength: 0.5            # The length of filament (mm) to retract
#variable_RetractSpeed: 30              # The speed of retractions (mm/sec)
#variable_UnRetractExtraLength: 0.5     # The length (mm) of *additional* filament to add when unretracting
#variable_UnRetractSpeed: 30            # The speed of Unretractions (mm/sec) 
#gcode:
#.................................................................................................................
# Required external macro(s) used by this macro.
#
# ---NONE---
#.................................................................................................................

[delayed_gcode prerun]
initial_duration: 1
gcode:
    {% set OffsetZ = printer.configfile.config["probe"]["z_offset"]|float %}
    QUERY_PROBE
    M117 Printer online.
    {% for s in range(0, 30) %}
        SET_LED LED=nozzle INDEX=1 RED=1 GREEN=0 BLUE=1
        SET_LED LED=nozzle INDEX=2 RED=.5 GREEN=.5 BLUE=.5
        G4 P100
        SET_LED LED=nozzle INDEX=1 RED=.5 GREEN=.5 BLUE=.5
        SET_LED LED=nozzle INDEX=2 RED=1 GREEN=0 BLUE=1
        G4 P50
    {% endfor %}
    M118 {printer.mcu.mcu_version}
    M118 {printer.mcu.mcu_build_versions}
    M118 Z-Offset is set at {OffsetZ}mm.
    SET_PRESSURE_ADVANCE ADVANCE={printer["gcode_macro globalvariables"].pressureadvance|float} SMOOTH_TIME={printer["gcode_macro globalvariables"].pressureadvancest|float}
    SET_RETRACTION RETRACT_LENGTH={printer["gcode_macro globalvariables"].retractlength|float} RETRACT_SPEED={printer["gcode_macro globalvariables"].retractspeed|float} UNRETRACT_EXTRA_LENGTH={printer["gcode_macro globalvariables"].unretractextralength|float} UNRETRACT_SPEED={printer["gcode_macro globalvariables"].unretractspeed|float}
    GET_RETRACTION
    SET_LED LED=nozzle RED=.2 GREEN=.5 BLUE=.2