#.................................................................................................................
# PRERUN - No Optional parameters / Usage: None
#   This macro runs upon klipper startup / restart.
#.................................................................................................................
# Required variable(s) to be set. Add the following to your global variable dictionary block as:
#
#[gcode_macro globalvariables]
#variable_PressureAdvance: 0.055        # Pressure Advance
#variable_PressureAdvanceST: 0.030      # Pressure Advance Smooth Time
#gcode:
#.................................................................................................................

[delayed_gcode prerun]
initial_duration: 1
gcode:
    QUERY_PROBE
    M117 Printer online.
    {% for s in range(0, 30) %}
        SET_LED LED=nozzle INDEX=1 RED=1 GREEN=0 BLUE=1
        SET_LED LED=nozzle INDEX=2 RED=.5 GREEN=.5 BLUE=.5
        G4 P100
        SET_LED LED=nozzle INDEX=1 RED=.5 GREEN=.5 BLUE=.5
        SET_LED LED=nozzle INDEX=2 RED=1 GREEN=0 BLUE=1
        G4 P50
    {% endfor %}
    SET_PRESSURE_ADVANCE ADVANCE={printer["gcode_macro globalvariables"].pressureadvance|float} SMOOTH_TIME={printer["gcode_macro globalvariables"].pressureadvancest|float}
    SET_LED LED=nozzle RED=.2 GREEN=.5 BLUE=.2
