#.................................................................................................................
# EUCLID Probe (GANTRY MOUNTED) Klipper configurations, settings, and support macros.
#
# About: This bundle contains all the necessary Klipper configurations and macros to use the Euclid Probe with the
#   dock mounted to the GANTRY. In this configuration the Z-Endstop switch has been eliminated, therefore no
#   compensation is needed. The G3201 command inlcuded in this varient performs the same function as a G32 but
#   handles mesh application per defined settings.
#
#
#                                  ---------------------------------
#                                  |Dock(GM)                      *| Home Y/X
#                                  |                               |
#                                  |                               |
#                                  |                               |
#                                  |             Home              |
#                                  |               Z               |
#                                  |                               |
#                                  |                               |
#                                  |                               |
#                                  |                               |
#                                  |                               |
#                                  ---------------------------------
#                                               Front
#
#.................................................................................................................
# Required variable(s) to be set. Add the following to your global variable dictionary block as:
#
#[gcode_macro globalvariables]
##------------------------------------------------- EUCLID PROBE -------------------------------------------------- 
#variable_EuclidX: 0                    # X Position directly over probe
#variable_EuclidY: 355                  # Y Position directly over probe
#variable_EuclidSwipeX: 50              # X Position, swipe to the side to free probe of dock
#variable_EuclidClearY : 325            # Y Position, clear dock
#
##----------------------------------------------------- MESH ------------------------------------------------------- 
#variable_MeshToApply: "MESHNAME"       # The saved mesh to apply after performing QGL. The mesh name must be enclosed
#                                       # with "". The external HOTMESH macro will save it's results as the name
#                                       # specified at the time of use, defaulting to this variable if none is specified.
#                                       # *!* To perform a fresh in-situation mesh calibration, instead of loading a saved
#                                       # mesh, use "INSITU" for MeshToApply. This will be applied before Z Comp probing.
#                                       # *!* To completely skip applying mesh, use "NONE" for MeshToApply
#gcode:
#.................................................................................................................
# Required external macro(s) used by this macro set.
#
# ---NONE---
#.................................................................................................................


#.................................................................................................................
# Included macro commands in this bundle
#.................................................................................................................
# G3201 - No additional options / Usage: G3201
#   Same function as a G32 but handles mesh application per defined settings
#.................................................................................................................
# G32 - No additional options / Usage: G32
#   Homes the toolhead, performs quad gantry leveling, and homes again.
#.................................................................................................................
# M401 - No additional options / # Usage: M401
#   Attach the Euclid probe to the toolhead.
#.................................................................................................................
# M402 - No additional options / Usage: M402
#   Remove the Euclid probe from the toolhead by placing it in the dock.




#.................................................................................................................
[probe]
# Euclid_Probe
pin: PG11
x_offset: 0
y_offset: 25.0
z_offset: 8.62  # <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<  Z-Offset / First Layer  <<<
speed: 04.0
lift_speed: 10.0
samples: 5
samples_result: median
sample_retract_dist: 1.5
samples_tolerance: 0.0075
samples_tolerance_retries: 3



#.................................................................................................................
[homing_override]
axes: z
gcode:
    {% set KEEP_PROBE = params.KEEP_PROBE|default(FALSE) %}
    {% set GOT_PROBE = params.GOT_PROBE|default(FALSE) %}
    {% set ONLY_Z = params.ONLY_Z|default(FALSE) %}
    {% set X_MID = printer.configfile.config["stepper_x"]["position_max"]|float / 2.0 %}
    {% set Y_MID = printer.configfile.config["stepper_y"]["position_max"]|float / 2.0 %}
    {% if printer.toolhead.homed_axes != "xyz" %} ; Home if not already homed
        SET_KINEMATIC_POSITION Z=0
        G0 Z15 F3600       ; Raise bed since unknown
    {% endif %} 
    G90
    {% if printer.toolhead.homed_axes == "xyz" and ONLY_Z %}
        M118 Re-Homing skipped on X & Y.
      {% else %}
        G28 X Y                ; Home Y & Y
    {% endif %}
    {% if GOT_PROBE == FALSE %}
        M401                   ; Deploy Probe
    {% endif %}
    G0 X{X_MID} Y{Y_MID} F4000
    G28 Z                  ; Home Z
    G0 Z15 F3600           ; Raise gantry
    {% if KEEP_PROBE == FALSE %}
        M402               ; Stow Probe
    {% endif %}



#.................................................................................................................
# M401 - Deploy Euclid Probe
[gcode_macro M401]
gcode:
    QUERY_PROBE
    {% if printer.probe.last_query %}
        M118 Fetching Euclid Probe.
        {% if printer.toolhead.homed_axes != "xyz" %} G28 {% endif %} ; Home if not already homed
        G90
        G0 Z15
        _PROBE_DEPLOY
    {% else %}
        M118 ?!Attempted to Deploy probe but it is already attached.
    {% endif %}



#.................................................................................................................
# M402 - Stow Euclid Probe
[gcode_macro M402]
gcode:
    QUERY_PROBE
    {% if not printer.probe.last_query %}
        M118 Stowing Euclid Probe.
        {% if printer.toolhead.homed_axes != "xyz" %} G28 {% endif %} ; Home if not already homed
        G90
        G0 Z15
        _PROBE_STOW
    {% else %}
        M118 ?!Attempted to Stow probe but it is not attached.
    {% endif %}



#.................................................................................................................
[gcode_macro _PROBE_DEPLOY]
gcode:
    G90
    G0 Y{printer["gcode_macro globalvariables"].euclidcleary|float} F4000
    G0 X{printer["gcode_macro globalvariables"].euclidx|float} F4000
    G0 Y{printer["gcode_macro globalvariables"].euclidy|float} F4000
    G0 X{printer["gcode_macro globalvariables"].euclidswipex|float} F4000
    _error_if_probe_not_deployed ; Verify probe attached



#.................................................................................................................
[gcode_macro _PROBE_STOW]
gcode:
    G90
    G0 X{printer["gcode_macro globalvariables"].euclidswipex|float} F4000
    G0 Y{printer["gcode_macro globalvariables"].euclidy|float} F4000
    G0 X{printer["gcode_macro globalvariables"].euclidx|float} F2000
    G0 Y{printer["gcode_macro globalvariables"].euclidcleary|float} F4000
    _error_if_probe_deployed ; Verify probe detached



#.................................................................................................................
# Euclid probe safety checks block

[gcode_macro _do_error_if_probe_deployed]
gcode:
    {% if not printer.probe.last_query %}
        {action_raise_error("ERROR: Probe is still deployed, please remove and return to dock.")}
    {% else %}
        M118 Euclid probe has been stowed.  
    {% endif %}	

[gcode_macro _error_if_probe_deployed]
gcode:
    G4 P300
    QUERY_PROBE
    _do_error_if_probe_deployed

[gcode_macro _do_error_if_probe_not_deployed]
gcode:
    {% if printer.probe.last_query %}
        {action_raise_error("ERROR: Probe unsuccessfully deployed, please check printer.")}
    {% else %}
        M118 Euclid probe has been attached.
    {% endif %}

[gcode_macro _error_if_probe_not_deployed]
gcode:
    G4 P300
    QUERY_PROBE
    _do_error_if_probe_not_deployed
    
    
    
#.................................................................................................................
[gcode_macro QUAD_GANTRY_LEVEL]
rename_existing: QUAD_GANTRY_LEVEL_ORIGINIAL
gcode:
    {% if printer.toolhead.homed_axes != "xyz" %} ; Home if not already homed
        G28 KEEP_PROBE:TRUE
    {% endif %} 
    M401
    QUAD_GANTRY_LEVEL_ORIGINIAL
    M402



#.................................................................................................................
[gcode_macro BED_MESH_CALIBRATE]
rename_existing: BED_MESH_CALIBRATE_ORIGINIAL
gcode:
    QUERY_PROBE
    M401
    BED_MESH_CALIBRATE_ORIGINIAL
    M402



#.................................................................................................................
[gcode_macro G32]
gcode:
    BED_MESH_CLEAR
    G28 KEEP_PROBE:TRUE
    QUAD_GANTRY_LEVEL_ORIGINIAL
    G28 GOT_PROBE:TRUE
    QUERY_PROBE



#.................................................................................................................
[gcode_macro G3201]
gcode:
    BED_MESH_CLEAR
    G28 KEEP_PROBE:TRUE
    QUAD_GANTRY_LEVEL_ORIGINIAL
    {% if printer["gcode_macro globalvariables"].doapplymesh|default() == false and MeshToApply != "NONE" %}
        {% if MeshToApply == "INSITU" %}
            BED_MESH_CALIBRATE_ORIGINIAL
            BED_MESH_PROFILE SAVE=INSITU
          {% else %}
            BED_MESH_PROFILE LOAD={MeshToApply}
        {% endif %}
        M118 Applied {MeshToApply} mesh post sampling.
    {% endif %}
    G28 Z GOT_PROBE:TRUE
    QUERY_PROBE
