#.................................................................................................................
# _HEAT_WAIT - Optional parameters: MINUTES / Usage: _HEAT_WAIT, _HEAT_WAIT MINUTES=15
#   Waits for the passed minutes, or 10 minutes if no MINUTES=XX is passed.
#.................................................................................................................
# _COOL_WAIT - Optional parameters: MINUTES / Usage: _COOL_WAIT, _COOL_WAIT MINUTES=15
#   Waits for the passed minutes, or 1 minute if no MINUTES=XX is passed.
#.................................................................................................................
# Required external macro(s) used by this macro set.
#
# ---NONE---
#.................................................................................................................

[gcode_macro _HEAT_WAIT]
description: Heating cycle waiting routine
gcode:
    {% set MINUTES = params.MINUTES|default(10)|int %}
    {% set MSG = params.MSG|default("Warming...")|string %}
    {% for i in range(0, MINUTES) %}
        M117 {MSG} {MINUTES-i} minute remaining.
        {% for s in range(0, 60) %}
            SET_LED LED=nozzle INDEX=1 RED=.5 GREEN=0 BLUE=0
            SET_LED LED=nozzle INDEX=2 RED=0 GREEN=0 BLUE=.5
            G4 P500
            SET_LED LED=nozzle INDEX=1 RED=0 GREEN=0 BLUE=.5
            SET_LED LED=nozzle INDEX=2 RED=.5 GREEN=0 BLUE=0
            G4 P500
        {% endfor %}
    {% endfor %}



#.................................................................................................................
[gcode_macro _COOL_WAIT]
description: Cooling cycle waiting routine
gcode:
    M106 S250
    {% set MINUTES = params.MINUTES|default(1)|int %}
    {% set MSG = params.MSG|default("Cooling...")|string %}
    {% for i in range(0, MINUTES) %}
        M117 {MSG} {MINUTES-i} minute remaining.
        {% for s in range(0, 60) %}
            SET_LED LED=nozzle INDEX=1 RED=0 GREEN=0 BLUE=0
            SET_LED LED=nozzle INDEX=2 RED=0 GREEN=0 BLUE=.5
            G4 P500
            SET_LED LED=nozzle INDEX=1 RED=0 GREEN=0 BLUE=.5
            SET_LED LED=nozzle INDEX=2 RED=0 GREEN=0 BLUE=0
            G4 P500
        {% endfor %}
    {% endfor %}
    M107



#.................................................................................................................
# NON-BLOCKING PRE-PRINT MACRO SET FOLLOWS

#.................................................................................................................
[gcode_macro _WAIT_Variable]
variable_count: 300
variable_duration: 2
variable_waiting: False
variable_temp: 150

# Total wait minutes is (duration * count) / 60 
gcode:


[delayed_gcode WAIT_Delayed]
gcode:
    {% set count = printer["gcode_macro _WAIT_Variable"].count|int %}
    {% set duration = printer["gcode_macro _WAIT_Variable"].duration|int %}
    M117 Pre-Print Heatsoaking... {((duration * count) / 60)|round(1)} minutes left.
    SET_GCODE_VARIABLE MACRO=_WAIT_Variable VARIABLE=count VALUE={count-1}
    {% if count > 0 %} _WAIT_Loop  {% endif %}
    {% if count == 0 %} 
        # FINAL ACION
        SET_GCODE_VARIABLE MACRO=_WAIT_Variable VARIABLE=waiting VALUE=False
        _PRINT_START2
    {% endif %}


[gcode_macro _WAIT_Loop]
gcode:
    {% set count = printer["gcode_macro _WAIT_Variable"].count|int %}
    {% set duration = printer["gcode_macro _WAIT_Variable"].duration|int %}
    UPDATE_DELAYED_GCODE ID=WAIT_Delayed DURATION={duration}
    {% if  count % 2 == 0 %}
        SET_LED LED=nozzle INDEX=1 RED=.5 GREEN=0 BLUE=0
        SET_LED LED=nozzle INDEX=2 RED=0 GREEN=0 BLUE=.5
      {% else %}
        SET_LED LED=nozzle INDEX=1 RED=0 GREEN=0 BLUE=.5
        SET_LED LED=nozzle INDEX=2 RED=.5 GREEN=0 BLUE=0
    {% endif %}


[gcode_macro _WAIT_Start]
gcode:
    {% set MINUTES = params.MINUTES|default(15)|int %}
    {% set duration = printer["gcode_macro _WAIT_Variable"].duration|int %}
    {% set count = (MINUTES * 60) / duration %}
    SET_GCODE_VARIABLE MACRO=_WAIT_Variable VARIABLE=waiting VALUE=True
    SET_GCODE_VARIABLE MACRO=_WAIT_Variable VARIABLE=count VALUE={count}
    UPDATE_DELAYED_GCODE ID=WAIT_Delayed DURATION={duration}
    PAUSE_BASE


[gcode_macro WAIT_Quit]
gcode:
    {% if printer["gcode_macro _WAIT_Variable"].waiting %}
        M118 STOPPING LOOP, SETTING COUNT TO 0
        SET_GCODE_VARIABLE MACRO=_WAIT_Variable VARIABLE=count VALUE=0
        UPDATE_DELAYED_GCODE ID=WAIT_Delayed DURATION=1
      {% else %}
        M118 Not in waiting state, nothing to do.
    {% endif %}